<div class="table-container">
  <table class="app-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
        <th *ngIf="showActions" class="table-actions-buttons-header">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td *ngFor="let col of columns">
          {{ getField(item, col.field) }}
          <ion-badge
            *ngIf="badgeColumn === col.field && shouldHighlight(item)"
            color="primary"
            class="ml-1"
            >Você</ion-badge
          >
        </td>
        <td *ngIf="showActions" class="table-actions-buttons">
          <ion-button fill="clear" size="small" color="primary" (click)="edit.emit(item)">
            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" color="danger" (click)="delete.emit(item)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
