.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.hero p {
  color: var(--ion-color-medium);
}