<ion-split-pane when="lg">
  <app-sidebar></app-sidebar>
  <ion-page id="main-content">
    <app-header title="Users" (add)="addUser()"></app-header>
    <ion-content class="ion-padding">
      <div class="metrics">
        <ion-card class="dashboard-card">
          <ion-icon name="people-outline"></ion-icon>
          <div>
            <h3>Total Users</h3>
            <p>{{ users.length }}</p>
          </div>
        </ion-card>
      </div>
      <ion-searchbar [(ngModel)]="search"></ion-searchbar>
      <div *ngFor="let user of filteredUsers" class="user-list-card">
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>{{ user.name }}</h3>
          <p>{{ user.email }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="editUser(user)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="deleteUser(user)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <app-add-user-modal #addModal (userCreated)="userAdded($event)"></app-add-user-modal>
      <app-edit-user-modal #editModal (userUpdated)="userUpdated($event)"></app-edit-user-modal>
    </ion-content>
  </ion-page>
</ion-split-pane>
