<ion-card class="table-wrapper">
  <ion-card-content>
    <app-table>
      <table class="user-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th class="table-actions-buttons-header">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              {{ user.name }}
              <ion-badge *ngIf="user.email === currentUser?.email" color="primary"
                >Você</ion-badge
              >
            </td>
            <td>{{ user.email }}</td>
            <td class="table-actions-buttons">
              <ion-button
                fill="clear"
                size="small"
                color="primary"
                (click)="edit.emit(user)"
              >
                <ion-icon name="create-outline" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button
                fill="clear"
                size="small"
                color="danger"
                (click)="delete.emit(user)"
              >
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </app-table>
  </ion-card-content>
</ion-card>
