<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <ion-item>
          <ion-input
            formControlName="email"
            label="Email"
            labelPlacement="floating"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="password"
            label="Password"
            labelPlacement="floating"
            type="password"
          ></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit">Login</ion-button>
      </form>
      <ion-button expand="block" fill="clear" (click)="goToRegister()">Register</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
