<ion-menu contentId="main" type="overlay">
  <ion-content class="menu-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list lines="full">
      <ion-menu-toggle auto-hide="false">
        <ion-item button routerLink="/users" routerDirection="root">
          <ion-icon
            slot="start"
            name="people-outline"
            color="medium"
          ></ion-icon>
          <ion-label>Usuários</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
