<ion-modal
  [isOpen]="isOpen"
  (didDismiss)="close()"
  cssClass="auto-height-modal"
>
  <ng-template>
    <ion-card class="modal-card">
      <!-- Cabeçalho -->
      <ion-card-header>
        <ion-card-title>
          {{ editing ? "Editar Usuário" : "Novo Usuário" }}
        </ion-card-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="close()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-header>

      <!-- Formulário -->
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="save()" class="form-wrapper">
          <ion-item lines="none">
            <ion-input
              formControlName="name"
              label="Nome"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-text
            color="danger"
            class="error-message"
            *ngIf="form.get('name')?.touched && form.get('name')?.errors"
          >
            <small *ngIf="form.get('name')?.errors?.['required']">
              Nome é obrigatório.
            </small>
          </ion-text>

          <ion-item lines="none">
            <ion-input
              formControlName="email"
              label="Email"
              labelPlacement="floating"
              type="email"
              autocomplete="off"
            ></ion-input>
          </ion-item>
          <ion-text
            color="danger"
            class="error-message"
            *ngIf="form.get('email')?.touched && form.get('email')?.errors"
          >
            <small *ngIf="form.get('email')?.errors?.['required']">
              Email é obrigatório.
            </small>
            <small *ngIf="form.get('email')?.errors?.['email']">
              Email inválido.
            </small>
          </ion-text>

          <ion-item lines="none" *ngIf="!editing">
            <ion-input
              formControlName="password"
              label="Senha"
              labelPlacement="floating"
              type="password"
              autocomplete="off"
            ></ion-input>
          </ion-item>
          <ion-text
            *ngIf="!editing && form.get('password')?.touched && form.get('password')?.errors"
            color="danger"
            class="error-message"
          >
            <small *ngIf="form.get('password')?.errors?.['required']">
              Senha é obrigatória.
            </small>
            <small *ngIf="form.get('password')?.errors?.['minlength']">
              Senha deve ter ao menos 8 caracteres.
            </small>
            <small *ngIf="form.get('password')?.errors?.['pattern']">
              Senha deve conter ao menos um caractere especial.
            </small>
          </ion-text>

          <ion-button
            expand="block"
            fill="solid"
            color="primary"
            class="save-button"
            type="submit"
          >
            Salvar
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>
