<ion-modal class="ion-modal" [isOpen]="isOpen" (didDismiss)="close()">
  <ng-template>
    <ion-card-header>
      <ion-card-title>Add User</ion-card-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()" fill="clear">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">
        <ion-item>
          <ion-input
            formControlName="name"
            label="Name"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="email"
            label="Email"
            labelPlacement="floating"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            formControlName="password"
            label="Password"
            labelPlacement="floating"
            type="password"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          fill="solid"
          color="primary"
          class="save-button"
          type="submit"
        >
          Save
        </ion-button>
      </form>
    </ion-card-content>
  </ng-template>
</ion-modal>
