
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 100%;
}

ion-card {
  width: 100%;
  max-width: 380px;
}

ion-input.invalid {
  --highlight-color-focused: var(--ion-color-danger);
  --highlight-color: var(--ion-color-danger);
}

ion-input.valid {
  --highlight-color-focused: var(--ion-color-success);
  --highlight-color: var(--ion-color-success);
}

