<!-- src/app/register/register.page.html -->
<div class="login-container">
  <ion-card class="auth-card">
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="register()">
        <ion-item lines="full">
          <ion-input
            formControlName="name"
            label="Name"
            labelPlacement="floating"
          ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-input
            formControlName="email"
            label="Email"
            labelPlacement="floating"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-input
            formControlName="password"
            label="Password"
            labelPlacement="floating"
            type="password"
          ></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          fill="solid"
          color="primary"
          class="auth-button"
          type="submit"
        >
          Register
        </ion-button>
      </form>

      <ion-button
        expand="block"
        fill="clear"
        color="secondary"
        class="auth-button"
        (click)="goToLogin()"
      >
        Back to Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
